<nav>
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  <a class="main-menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
  {{ end }}
</nav>